# Build Configuration
CONFIG_DEVICE=""
CONFIG_TARGET="bacon"
CONFIG_OFFICIAL_FLAG=""

# Telegram Configuration
CONFIG_CHATID=""
CONFIG_BOT_TOKEN=""
CONFIG_ERROR_CHATID="" # Optional: If not set, errors are sent to CONFIG_CHATID

# PixelDrain API Key
CONFIG_PDUP_API=""

# Power off after build
POWEROFF="false"